
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

/* Ensure the header stays on top of other content */
header {
  z-index: 50; /* or higher */
}

.underlineHover:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}