/* IndustryLanding.css */

/* Dots container */
.slick-dots {
    position: absolute;
    bottom: 20px; /* Adjust this value to your preference */
    left: 100% !important;
    transform: translateX(-50%); /* Center the dots */
    display: flex !important; /* Ensure dots are displayed */
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Individual dot styling */
.slick-dots li {
    margin: 0 5px; /* Spacing between dots */
}

/* Default button style for dots */
.slick-dots button {
    background: transparent; /* Customize dot background */
    
    border-radius: 50%; /* Make dots circular */
    width: 10px; /* Dot size */
    height: 10px; /* Dot size */
    padding: 0; /* No padding */
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s; /* Smooth transition */
}

/* Active dot style */
.slick-dots .slick-active button {
    background: black; /* Active dot background */
    border:  solid black !important; /* Active dot border */
}

/* Inactive dot style for dark mode */
body.dark-mode .slick-dots button {
    border: 2px solid white; /* Inactive dot border for dark mode */
}

/* Active dot style for dark mode */
body.dark-mode .slick-dots .slick-active button {
    background: white; /* Active dot background for dark mode */
    border: 2px solid white; /* Active dot border for dark mode */
}

/* Optional: Change color for dark mode */
body.dark-mode .slick-dots li {
    margin: 0 5px; /* Keep spacing consistent */
}

/* Centering dots vertically */
.slick-dots {
    bottom: 20px; /* Adjust this value to your preference */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, 0); /* Center dots using transform */
}


  


  /* IndustryLanding.css */

/* Set a fixed height for the slider container */


.slick-slide {
    height: 1000px !important; /* Ensure slides take full height of the container */
  }
  
  /* Set the height for each slide */
  @media (max-width: 1600px) {
    .slick-slide {
      height: 560px !important; /* Adjust this value as needed */
    }
  }
  
  @media (max-width: 640px) {
    .slick-slide {
      height: 470px !important; /* Adjust this value as needed */
    }
    .slick-dots{
        left: 80% !important;
        
    }
    
  }
  
  